<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Poptart-Mobile Controller</title>
</head>
<body>

<form action="/forward" method="post">
    <button name="forwardBtn" type="submit">Forward</button>
</form>

<form action="/stop" method="post">
    <button name="stopBtn" type="submit">Stop</button>
</form>

<form action="/left" method="post">
    <button name="leftBtn" type="submit">Left</button>
</form>

<form action="/right" method="post">
    <button name="rightBtn" type="submit">Right</button>
</form>

</body>
</html>